<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  .purchase-card{
        width: 52%;
		margin: 10px auto;
		background-color: #f3f3f3;
		padding: 10px;
  }
    .purchase{
	    text-align:center;
	} 
	.credit{
	    width: 100%;
        margin: 45px auto;
	}
	.credit:after{
	    content:'';
		display:block;
		clear:both;
	}
	.credit label{
	   float:left;
	}
	.credit input{
	    float: left;
		width: 70%;
		margin-left: 10px;
	}
	.pay-btn{
	    display: block;
        margin: auto;
	}
  </style>
</head>
<body>

<div class="container">
  
  <form>
  <div class="purchase-card">
    <h2 class="purchase">Purchasing ECOLIGHT CP-50-C</h2>
    <div class="form-group">
	   <div class="credit">
		  <label for="email">Credit Card NUmber</label>
		  <input type="text" class="form-control">
	   </div>
    </div>
    <button type="submit" class="btn btn-default pay-btn">pay</button>
	</div>
  </form>
  
</div>

</body>
</html>
